$yellow: rgb(249, 243, 1);
header {
    position: relative;
    h1 {
        margin: 15px 0 0 25px;
    }
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../img/Background.jpg");
    background-size: cover;
    z-index: -1;
}

main {
    #panel1 {
        position: relative;
        width: 100vw;
        #pr {
            float: right;
            margin: calc(1vh + 10vw) 5% 0 0;
            max-width: 50%;
            #smolLine {
                float: right;
                width: 160px;
                height: 4px;
                background: $yellow;
                margin: 3px 0;
            }
            h1 {
                font-size: 84px;
                text-align: right;
                float: right;
                position: relative;
            }
            button {
                background: $yellow;
                padding: 24px 44px;
                color: rgb(23, 23, 23);
                font-size: 34px;
                font-weight: 600;
                margin-top: 8px;
                float: right;
            }
        }
    }
    #panel2 {
        position: relative;
        width: 100%;
        padding: 5%;
        float: left;
        section {
            width: 28%;
            margin: 1%;
            height: 400px;
            background: #30302F;
            display: inline-block;
            transition: .4s;
            &:hover {
                background: $yellow;
            }
        }
    }
}